In [ ]:
# 1) Crear la clase octal

class octal:          #class es para crear la clase
  pass

In [ ]:
# 2) Crear un "constructor" de objetos, inicialmente con un mensaje

class Octal:
  def __init__(self):               #Este es el constructor
    print("Esta es clase octal")

a = octal()

In [ ]:
# 3) Modificar el "constructor" para que permita recibir el octal como una cadena

class Octal:
  def __init__(self, dato): #ponemos self, y la variable dato para recibir el numero
     self.dato = dato

a = Octal("37401")          #aqui recibimos la cadena
print(a.dato)

37401

In [ ]:
# 4) Crear un método (función) cuya tarea es mostrar en pantalla el contenido del objeto

class octal:
  def __init__(self, dato):
    self.dato = dato
  def string (self):       #esta es la funcion que genera el contenido de la cadena
   print(self.dato)

a = octal("37401")
a.string()

37401

In [ ]:
# 5) Convertir la cadena que almacena el Octal, en una lista

class octal:
  lista_octal = []                   #esta es  la variable de la lista
  def __init__(self, cadena_octal):
     self.cadena_octal = cadena_octal
     self.lista_octal = list( self.cadena_octal )  #aqui convertimos la cadena en una lista
  def string( self ):
     print(self.cadena_octal)
     print(self.lista_octal)

a = octal( "37401" )
a.string()

37401
['3', '7', '4', '0', '1']

In [ ]:
# 6) Convertir la lista de strings en una  lista de enteros

class Octal:
  lista_octal = []

  def __init__ (self, cadena_octal):
    self.cadena_octal = cadena_octal
    self.lista_octal = list(self.cadena_octal)

    i = 0
    for dato in self.lista_octal : 
       self.lista_octal[i] = int(dato)
    i = i + 1                                    # esta es la funcion que nos ayudara a convertir la lista en enteros

    self.lista_octal = list(reversed(self.lista_octal)) #con esto revertimos la funcion para que la lista quede rodenada

  def string( self ):
    print(self.cadena_octal)
    print(self.lista_octal)

a = octal( "37401" )
a.string()

37401
['3', '7', '4', '0', '1']

In [ ]:
# 7)  INVERTIR la lista para que coincida con los números octales de la matemática

class Octal:
  lista_octal = []

  def __init__ (self, cadena_octal):
    self.cadena_octal = cadena_octal
    self.lista_octal = list(self.cadena_octal)

    i = 0
    for dato in self.lista_octal:
      self.lista_octal[i] = int(dato)   
      i = i + 1

      self.lista_octal = list(reversed(self.lista_octal))

  def string(self):
    print(self.cadena_octal)
    print(self.lista_octal)

a = Octal("37401")
a.string()

37401
[1, 7, 4, 0, 3]

In [ ]:
# 8) Convertir el octal en un decimal

class Octal:
  base = 8
  lista_octal = []

  def __init__ ( self, cadena_octal ):
    self.cadena_octal = cadena_octal
    self.lista_octal = list( self.cadena_octal )

    i = 0
    for dato in self.lista_octal:
      self.lista_octal[i] = int(dato)
      i = i + 1

    self.lista_octal = list(reversed(self.lista_octal))

  def decimal(self): 
        numero_decimal = 0 
        i = 0 
        for dato in self.lista_octal:
          numero_decimal += self.base**i * self.lista_octal[i] 
          i = i + 1 
        return numero_decimal 

  def string(self):
     print(self.cadena_octal)
     print(self.lista_octal)

o = Octal("37401")  
o.string() 
print(o.decimal())

37401
[1, 0, 4, 7, 3]
16129